---
import Layout from "@/layouts/Layout.astro";
import Blog from '@/components/blog.astro';
import ShowMore from '@/components/ShowMore.astro';
const title = "早稲田大学アンサンブル・リドール Blogページ";
---

<Layout title={title}>
    <main>
        <div class="blogpage__l-container">
            <div class="blogpage__letter">
                <p class="blogpage__Blog_letter_b">B</p>
                <p class="blogpage__Blog_letter_l">l</p>
                <p class="blogpage__Blog_letter_o">o</p>
                <p class="blogpage__Blog_letter_g">g</p>
            </div>
            <p>
                私のライブや音楽活動の様子をブログで発信しています！コンサートやリサイタルの情報、リハーサルの裏側、パフォーマンスの感想など、日々の活動を詳しくお届けしています。
            </p>  
            <div class="blogpage__view">
                <div class="blogpage__left_side">
                    <Blog width = '35vw', height = 'auto', marginbottom="120px"/>
                    <Blog width = '35vw', height = 'auto', marginbottom="120px"/>
                    <Blog width = '35vw', height = 'auto'/>
                </div>  
                <div class="blogpage__right_side">
                    <Blog width = '35vw', height = 'auto', marginbottom="120px"/>
                    <Blog width = '35vw', height = 'auto', marginbottom="120px"/>
                    <Blog width = '35vw', height = 'auto'/>
                </div>    
            </div>
            <div class="blogpage__responsive">
                    <Blog width = '70vw', height = 'auto', marginbottom="120px"/>
                    <Blog width = '70vw', height = 'auto', marginbottom="120px"/>
                    <Blog width = '70vw', height = 'auto'/>
                </div>  
            <ShowMore />
        </div>
    </main>
</Layout>
