---
import "@/scss/styles.scss";
import { Image } from 'astro:assets';
import picture from './images/exsample.png';
---
<div class="EventData">
    <Image src={ picture } alt="イベントの写真" class="picture"/>
    <div class="data">
    <p class="title">イベント名</p>
    <div class="date">
        <img src="" alt="">
        <p class="year">2024</p>
        <p class="date">01/01</p>
        <p class="day_of_the_week">SUN</p>
        <p class="time">12:00</p>
    </div>
<div class="description">
    <p>イベントの簡単な紹介や一言今年も心温まる冬のリサイタルを開催いたします。
        冬の澄んだ空気にぴったりの、美しい音楽の調べをお楽しみください。本公演では、
        クラシックの名曲から季節感溢れる特別な楽曲まで、
        幅広いレパートリーをご用意しました。
    </p>
</div>
</div>


    <!--
    適当に書き直してください。
    <p>{eventData.title}</p>
    <div class="date">
        <img src={eventData.image.url} alt="イベント画像">
        <p class="year">{new Date(eventData.date).getFullYear()}</p>
        <p class="date">{new Date(eventData.date).toLocaleDateString('ja-JP', { month: '2-digit', day: '2-digit' })}</p>
        <p class="day_of_the_week">{new Date(eventData.date).toLocaleDateString('en-US', { weekday: 'short' }).toUpperCase()}</p>
        <p class="time">{eventData.time}</p>
    </div>
    <div class="description">
        <p>{eventData.description}</p>
    </div>
     -->
    <style>
        .EventData{
            position: relative;
            display: flex;
            padding-left: 5%;
            box-sizing: border-box; 
        }
        
        .EventData::before {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: #73450D;
            position: absolute;
            top: 0;
            left: 0;
        }

            .EventData::after {
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background-color: #73450D;
                position: absolute;
                bottom: 0;
                left: 0;
            }

            .picture{
                object-fit: contain;
            }
            .data {
                max-width: 63%;
                padding: 50px 0 50px 10%; /* カンマではなくスペースで区切る */

            .title{
                font-size: 20px;
                font-weight: 400;
                color: #73450D;
            }
            .date{
                font-size: 35px;

            }
            .year{
                font-size: 14px

            }.day_of_the_week{
                font-size: 14px;
            }
            .time{
                font-size: 14px;
            }
        }
    </style>



