---
import "@/scss/styles.scss";
import { Image } from 'astro:assets';
import picture from './images/exsample.png';
---
    <div class="EventData">
    <p class="EventData__title-responsive">イベント名</p>
    <div class="EventData__left-circle"></div>
    <div class="EventData__right-circle"></div>
    <Image src={ picture } alt="イベントの写真" class="picture"/>
    <div class="EventData__data">
    <p class="EventData__title">イベント名</p>
    <div class="EventData__date">
        <img src="" alt="">
        <p class="EventData__year">2024</p>
        <p class="EventData__date2">01/01</p>
        <div class="EventData__lump">
        <p class="EventData__day-of-the-week">SUN</p>
        <p class="EventData__time">12:00</p>
        </div>
    </div>
<div class="description">
    <p>イベントの簡単な紹介や一言今年も心温まる冬のリサイタルを開催いたします。
        冬の澄んだ空気にぴったりの、美しい音楽の調べをお楽しみください。本公演では、
        クラシックの名曲から季節感溢れる特別な楽曲まで、
        幅広いレパートリーをご用意しました。
    </p>
</div>
</div>
</div>



