---
import "@/scss/styles.scss";
import { Image } from 'astro:assets';
import picture from './images/exsample.png';
---
    <div class="EventData">
    <div class="EventData_left-circle"></div>
    <div class="EventData_right-circle"></div>
    <Image src={ picture } alt="イベントの写真" class="picture"/>
    <div class="data">
    <p class="title">イベント名</p>
    <div class="date">
        <img src="" alt="">
        <p class="year">2024</p>
        <p class="date2">01/01</p>
        <div class="lump">
        <p class="day_of_the_week">SUN</p>
        <p class="time">12:00</p>
        </div>
    </div>
<div class="description">
    <p>イベントの簡単な紹介や一言今年も心温まる冬のリサイタルを開催いたします。
        冬の澄んだ空気にぴったりの、美しい音楽の調べをお楽しみください。本公演では、
        クラシックの名曲から季節感溢れる特別な楽曲まで、
        幅広いレパートリーをご用意しました。
    </p>
</div>
</div>
</div>

    <!--
    適当に書き直してください。
    <p>{eventData.title}</p>
    <div class="date">
        <img src={eventData.image.url} alt="イベント画像">
        <p class="year">{new Date(eventData.date).getFullYear()}</p>
        <p class="date">{new Date(eventData.date).toLocaleDateString('ja-JP', { month: '2-digit', day: '2-digit' })}</p>
        <p class="day_of_the_week">{new Date(eventData.date).toLocaleDateString('en-US', { weekday: 'short' }).toUpperCase()}</p>
        <p class="time">{eventData.time}</p>
    </div>
    <div class="description">
        <p>{eventData.description}</p>
    </div>
     -->
    <style>

        * {
        margin: 0;
        padding: 0;
        }
        .EventData_left-circle::after {
        position: relative;
        }
        .EventData_left-circle::after {
        content: "";
        position: absolute;
        bottom: -4px;
        left: 0; 
        width: 8px;
        height: 8px;
        background-color: #73450D; 
        border-radius: 50%; 
    }
    .EventData_left-circle::before {
        content: "";
        position: absolute;
        top: -4px;
        left: 0; 
        width: 8px;
        height: 8px;
        background-color: #73450D; 
        border-radius: 50%; 
    }
        .EventData_right-circle::after {
            position: relative;
        }
        .EventData_right-circle::before {
            position: relative;
        }

        .EventData_right-circle::after {
            content: "";
            position: absolute;
            bottom: -4px; 
            right: 0; 
            width: 8px; 
            height: 8px; 
            background-color: #73450D; 
            border-radius: 50%; 
        }
        .EventData_right-circle::before {
        content: "";
        position: absolute;
        top: -4px;
        right: 0; 
        width: 8px;
        height: 8px;
        background-color: #73450D; 
        border-radius: 50%; 
    }

        .EventData{
            position: relative;
            display: flex;
            padding-left: 5%;
            padding-top: 50px;
            padding-bottom: 50px;
        }
        
        .EventData::before {
            content: "";
            display: block;
            width: 100%;
            height: 1px;
            background-color: #73450D;
            position: absolute;
            top: 0;
            left: 0;
        }

            .EventData::after {
                content: "";
                display: block;
                width: 100%;
                height: 1px;
                background-color: #73450D;
                position: absolute;
                bottom: 0;
                left: 0;
            }

            .picture{
                object-fit: contain;
            }
            .data {
                max-width: 63%;
                padding: 50px 0 50px 10%; 
            }
            .date{
                display: flex;
                position: relative;
                left: -13px;
            }

            .title{
                font-size: 20px;
                font-weight: 400;
                color: #73450D;
            }
            .date2{
                font-size: 35px;

            }
            .year{
                font-size: 14px;
                position: relative;
                left: -10px;
                top: 2px;
                transform: rotate(90deg);
            }
                
        
                

            .day_of_the_week{
                font-size: 15px;
                padding-top: 5px;
            }
            .time{
                font-size: 15px;
            }
    </style>



