---
// CMSを組み込むときに書き換えてください
// アンカーリンク
---
 <div class="NewsData__box">
    <div class="NewsData__News-box">
   <a href="put the link for the newsdata"></a>
   <p class="NewsData__date">yyyy/mm/dd</p>
   <p class="NewsData__title">test title</p> 
   </div>
   </div>
    

