---
// CMSを組み込むときに書き換えてください
---
 <div class="NewsData__box">
    <div class="NewsData__News-box">
    <p class="NewsData__date">yyyy/mm/dd</p>
    <p class="NewsData__title">test title</p> 
    </div>
    </div>
    