---
import Event from '@/components/Event.astro'
const { height = '300px', top = '12px' } = Astro.props;
---

<div class="timetable">
    <h1>Time Table</h1>
    <div class="timetable__lump">
        <h2>11.11（日）</h2>
        <div class="timetable__time">            
            <Event height="95px", top="60px" /> <!-- 予定が変わったら簡単に調節できるように -->
            <Event height="95px", top="190px" />
            <Event height="110px", top="315px" />
                <!-- <p class="timetable__t">16:00</p> -->
                <p class="timetable__t">17:00</p>
                <p class="timetable__t">18:00</p>
                <p class="timetable__t">19:00</p>
                <p class="timetable__t">20:00</p>
                <!-- <p class="timetable__t1">21:00</p> -->
        </div>
    </div>
</div>



