@charset "UTF-8";

@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
}

// ----- headerここから -----
header {
  position: sticky;
  top: 0;
  display: flex;
  height: 100px;
  width: 100%;
  align-items: center;
  background-color: #fff;
  z-index: 1000;
  .header__logo {
    margin-left: 5vw;
  }
  .header__navbar {
    display: flex;
    align-items: center;
    margin: 0 0 0 auto;
    .header__navbar-content {
      display: flex;
      font-size: 20px;
      .header__navbar-item {
        margin-right: 3vw;
      }
    }
    .header__sns {
      display: flex;
      .header__x {
        width: 5vw;
        max-width: 45px;
        // margin-top: 2px;
        margin-right: 3vw;
      }
      .header__instagram {
        margin-right: 5vw;
        width: 5vw;
        max-width: 45px;
        // margin-top: 1px;
      }
    }
  }
  .header__inner {
    display: none;
  }
}
@media (max-width: 600px) {
  header {
    height: 14vw;
    min-height: 55px;

    .header__logo {
      width: 24vw;
      min-width: 100px;
      margin-left: 5vw;
    }

    .header__navbar {
      display: none;
    }

    .header__inner {
      display: block;
      position: absolute;
      right: 0;

      a {
        text-decoration: none;
      }

      .header__hamburger {
        display: block;
        height: 60px;
        margin-left: auto;
        margin-right: 10px;
        position: relative;
        z-index: 10;
        width: 60px;
        border: none;
        background-color: transparent;

        &.-active {
          .header__hamburger-line {
            background-color: transparent;

            &::before {
              top: 0;
              transform: rotate(45deg);
              background-color: #ffffff;
            }

            &::after {
              top: 0;
              transform: rotate(-45deg);
              background-color: #ffffff;
            }
          }
        }

        .header__hamburger-line {
          display: block;
          height: 2px;
          position: absolute;
          top: 30px;
          left: 50%;
          transform: translateX(-50%);
          width: 8vw;
          min-width: 30px;
          background-color: #73450d;
          transition: 0.4s;

          &::before,
          &::after {
            content: "";
            display: block;
            height: 100%;
            position: absolute;
            width: 100%;
            background-color: #73450d;
            transition: inherit;
          }

          &::before {
            top: -10px;
          }

          &::after {
            top: 10px;
          }
        }

        .header__hamburger-text {
          position: absolute;
          bottom: 8px;
          left: 50%;
          transform: translateX(-50%);
          width: 100%;
        }
      }

      .header__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 40vw;
        height: 100vh;
        // background-color: rgba(0, 0, 0, 0.4); /* 半透明に修正 */
        visibility: hidden;
        opacity: 0;
        z-index: 1000;
        transition: opacity 0.4;
      }

      .header__overlay.-active {
        visibility: visible;
        opacity: 1;
      }
// ハンバーガー押した後
      .header__nav-area {
        border-radius: 20px;
        position: fixed;
        top: 10px;
        right: 0;
        z-index: 9;
        height: 90vw;
        width: 60vw;
        visibility: hidden;
        padding-top: 60px;
        background-color: #957c5f;

        &.-active {
          right: 0;
          visibility: visible;
        }
      }

      .header__navigation {
        padding: 0px 25px 120px;
        &-list {
          display: flex;
          justify-content: center;
          // align-items: center;
          flex-direction: column;

          & li {
            margin-top: 20px;
          }
        }

        &-link {
          display: flex;
          color: #ffffff;
          font-weight: 400;
          font-size: 5vw;
          transition: color 0.4s;

          &.-accordion {
            position: relative;
            background: none;
            border: none;
            appearance: none;
            width: 100%;
            padding: 0;

            &::after,
            &::before {
              content: "";
              display: block;
              position: absolute;
              background-color: #ed3242;
            }

            &::after {
              height: 12px;
              top: 50%;
              right: 5px;
              width: 2px;
              transform: translateY(-50%);
              transition: transform 0.4s;
            }

            &::before {
              height: 2px;
              top: 50%;
              right: 0;
              width: 12px;
              transform: translateY(-50%);
            }

            &.-active::after {
              transform: translateY(-50%) rotate(-90deg);
            }
          }
        }
      }

      .accordion {
        height: 0;
        overflow: hidden;
        visibility: hidden;
        transition: 0.4s;

        &.-active {
          height: auto;
          padding-top: 30px;
          visibility: visible;
        }

        &-list {
          li {
            font-size: 0.75rem;

            & + li {
              margin-top: 21px;
            }
          }
        }

        &-link {
          color: #172e59;
        }
      }
    }
  }
}

// ----- headerここまで -----

// ----- topここから -----
main {
  background-color: #f2f2f2;
  .p-top {
    .p-top__logos {
      position: relative;
      display: flex;
      flex-direction: column;

      .p-top__logos_line {
        position: absolute;
        top: 20%;
        left: 10%;
        width: 30%;
        height: auto;
        font-weight: 400;
        color: #73450d;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 42%;
          width: 17%;
          height: 0.14vw;
          background-color: #f2911b;
        }
        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 42%;
          width: 17%;
          height: 0.14vw;
          background-color: #f2911b;
        }

        h1 {
          font-size: 2.5vw;
          &::after {
            content: "";
            position: absolute;
            bottom: -0.3vw;
            left: 42%;
            width: 17%;
            height: 0.14vw;
            background-color: #f2911b;
          }
          &::before {
            content: "";
            position: absolute;
            top: -0.3vw;
            left: 42%;
            width: 17%;
            height: 0.14vw;
            background-color: #f2911b;
          }
        }
      }
      .p-top__img-container {
        display: flex;
        // justify-content: center;
        img {

          margin: 40px 0px -10px 40px;
          width: 87%;
        }
      }

      h2 {
        font-size: 2.5vw;
        position: absolute;
        top: 87%;
        left: 68%;
        font-weight: 400;
        color: #73450d;
      }
    }
  }
  @media (max-width: 550px) {
    .p-top {
      .p-top__logos {
        position: relative;
        display: flex;
        flex-direction: column;

        .p-top__logos_line {
          position: absolute;
          top: 20%;
          left: 5%;
          width: 30%;
          height: auto;
          font-weight: 400;
          color: #73450d;

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 61%;
            width: 23%;
            height: 0.14vw;
            background-color: #f2911b;
          }
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 61%;
            width: 23%;
            height: 0.14vw;
            background-color: #f2911b;
          }

          h1 {
            font-size: 3.6vw;
            width: 40vw;
            &::after {
              content: "";
              position: absolute;
              bottom: -0.3vw;
              left: 61%;
              width: 23%;
              height: 0.14vw;
              background-color: #f2911b;
            }
            &::before {
              content: "";
              position: absolute;
              top: -0.3vw;
              left: 61%;
              width: 23%;
              height: 0.14vw;
              background-color: #f2911b;
            }
          }
        }
        .p-top__img-container {
          display: flex;
          justify-content: center;
          img {
            width: 90%;
            padding-top: 5vw;
            padding-bottom: 5vw;
          }
        }

        h2 {
          width: 45vw;
          font-size: 3.6vw;
          position: absolute;
          top: 84%;
          left: 50%;
          font-weight: 400;
          color: #73450d;
        }
      }
    }
  }
  // ----- topここまで -----

  // ----- middleここから -----
  .p-middle {
    .p-middle__l-container {
      max-width: 88%;
      width: 100%;
      margin: 0 auto;

      .p-middle__News {
        padding-top: 131px;
      }

      .p-middle__News_letter {
        color: #73450d;
        font-size: 32px;
        font-weight: 400;
        display: flex;
        justify-content: center;

        .p-middle__News_letter_n {
          transform: translate(-3px, 0px) rotate(-25.92deg);
        }
        .p-middle__News_letter_e {
          transform: translate(3px, -9px) rotate(-7.84deg);
        }
        .p-middle__News_letter_w {
          transform: translate(9px, -9px) rotate(11.25deg);
        }
        .p-middle__News_letter_s {
          transform: translate(13px, 0px) rotate(29.33deg);
        }
      }

      .p-middle__News_box {
        // display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .p-middle__News_box-left {
          width: 40vw;
        }
        .p-middle__News_box-right {
          width: 40vw;
        }

        .p-middle__News_box_add {
          display: none;
        }
      }

      @media (max-width: 550px) {

        .p-middle__News {
          padding-top: 60px;
        }

        .p-middle__News_letter {
          color: #73450d;
          font-size: 16px;
          font-weight: 400;
          display: flex;
          justify-content: center;

          .p-middle__News_letter_n {
            transform: translate(-3px, -3px) rotate(-25.92deg);
          }
          .p-middle__News_letter_e {
            transform: translate(3px, -9px) rotate(-7.84deg);
          }
          .p-middle__News_letter_w {
            transform: translate(9px, -9px) rotate(11.25deg);
          }
          .p-middle__News_letter_s {
            transform: translate(13px, -3px) rotate(29.33deg);
          }
        }
        
        .p-middle__News_box {
          display: block;
          .p-middle__News_box-left {
            display: none;
          }
          .p-middle__News_box-right {
            width: auto;
          }
          .p-middle__News_box_add {
            display: block;
          }
        }
      }

      .p-middle__Schedule {
        padding-top: 203px;

        .p-middle__Schedule_letter {
          color: #73450d;
          font-size: 32px;
          font-weight: 400;
          display: flex;
          justify-content: center;
          padding-bottom: 50px;

          .p-middle__Schedule_letter_s {
            transform: translate(-12px, -1px) rotate(-32.65deg);
          }
          .p-middle__Schedule_letter_c {
            transform: translate(-10px, -14px) rotate(-23.24deg);
          }
          .p-middle__Schedule_letter_h {
            transform: translate(-7px, -23px) rotate(-13.42deg);
          }
          .p-middle__Schedule_letter_e1 {
            transform: translate(-3px, -25px) rotate(-3.61deg);
          }
          .p-middle__Schedule_letter_d {
            transform: translate(0px, -25px) rotate(6.01deg);
          }
          .p-middle__Schedule_letter_u {
            transform: translate(4px, -22px) rotate(16.23deg);
          }
          .p-middle__Schedule_letter_l {
            transform: translate(7px, -12px) rotate(24.84deg);
          }
          .p-middle__Schedule_letter_e2 {
            transform: translate(9px, -1px) rotate(32.85deg);
          }
        }
      }
      @media (max-width: 550px) {
        .p-middle__Schedule {
          padding-top: 60px;
          .p-middle__Schedule_letter {
            font-size: 16px;

            .p-middle__Schedule_letter_s {
              transform: translate(-12px, -1px) rotate(-32.65deg);
            }
            .p-middle__Schedule_letter_c {
              transform: translate(-10px, -10px) rotate(-23.24deg);
            }
            .p-middle__Schedule_letter_h {
              transform: translate(-7px, -14px) rotate(-13.42deg);
            }
            .p-middle__Schedule_letter_e1 {
              transform: translate(-3px, -17px) rotate(-3.61deg);
            }
            .p-middle__Schedule_letter_d {
              transform: translate(0px, -16px) rotate(6.01deg);
            }
            .p-middle__Schedule_letter_u {
              transform: translate(4px, -14px) rotate(16.23deg);
            }
            .p-middle__Schedule_letter_l {
              transform: translate(7px, -8px) rotate(24.84deg);
            }
            .p-middle__Schedule_letter_e2 {
              transform: translate(9px, -1px) rotate(32.85deg);
            }
          }
        }
        .p-middle__Schedule_eventdata {
          .p-middle__Schedule_eventdata3 {
            display: none;
          }
        }
      }
      

      .p-middle__About {
        margin-top: 258px;
        position: relative;
        width: 100%;
        min-height: 100vh;
        z-index: 10;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100vw;
          height: 100%;
          background-image: url("../../public/backgroundimg.png");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          left: -7.3vw;
          z-index: -30;
        }

        .p-middle__About_letter {
          padding-top: 64px;
          color: #73450d;
          font-size: 32px;
          font-weight: 400;
          display: flex;
          justify-content: center;

          .p-middle__About_letter_a {
            transform: translate(-5px, 0px) rotate(-23.46deg);
          }
          .p-middle__About_letter_b {
            transform: translate(1px, -10px) rotate(-9.41deg);
          }
          .p-middle__About_letter_o {
            transform: translate(7px, -13px) rotate(2.96deg);
          }
          .p-middle__About_letter_u {
            transform: translate(13px, -10px) rotate(15.7deg);
          }
          .p-middle__About_letter_t {
            transform: translate(18px, 0px) rotate(26.92deg);
          }
        }

        .p-middle__About_points {
          display: flex;
          height: auto;
          padding-top: 50px;
          align-items: flex-start;
          margin-bottom: 20px;

          .p-middle__About_header {
            width: 130px;
            flex-shrink: 0;
            margin-right: 50px;
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;

            &::after {
              content: "";
              display: block;
              width: 100%;
              height: 2px;
              background-color: #f2911b;
              position: absolute;
              bottom: 0;
              left: 0;
            }

            &::before {
              content: "";
              display: inline-block;
              width: 100%;
              height: 2px;
              background-color: #f2911b;
              position: absolute;
              top: 0;
              left: 0;
            }

            .p-middle__About_number {
              padding: 1rem;
              font-size: 20px;
              position: relative;

              &::after {
                border-bottom: 3px dotted #f2911b;
                content: "";
                display: block;
                width: 70px;
                height: 1px;
                position: absolute;
                bottom: -5px;
                left: -7px;
              }

              &::before {
                border-bottom: 3px dotted #f2911b;
                content: "";
                display: block;
                width: 130px;
                height: 1px;
                position: absolute;
                top: 8px;
                left: -36px;
              }
            }
            .p-middle__About_title {
              padding: 1rem 0;

              &::after {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background-color: #f2911b;
                position: absolute;
                bottom: 0;
                left: 0;
              }
            }
          }
          .p-middle__About_title_responsive {
            display: none;
          }
          .p-middle__About_explanation {
            margin: auto 0;
          }
        }

        .p-middle__About_detail {
          display: flex;
          padding-top: 183px;
          width: 100%;
          margin: 0 auto;
          width: 100%;
          height: auto;
          padding-bottom: 150px;

          .p-middle__About_image {
            max-width: 80%;
            width: 50vw;
            height: 30vw;
            border-radius: 10px;
            object-fit: cover;
            margin: auto 6% auto 0;
          }

          .p-middle__About_details {
            margin-top: 20px;
            align-items: center;
            width: 40vw;
            height: auto;

            .p-middle__About_details1 {
              display: flex;
              margin-bottom: 8%;
              position: relative;

              &::after {
                content: "";
                position: absolute;
                bottom: -10px;
                left: 0;
                width: 100%;
                height: 1px;
                background-color: #73450d;
              }
              .p-middle__About_details1_title {
                width: 100px;
                min-width: 100px;
                max-width: 100px;
              }
            }
          }
        }
      }

      @media (max-width: 550px) {
        .p-middle__About {
          margin-top: 40px;

          .p-middle__About_letter {
            padding-top: 35px;
            color: #73450d;
            font-size: 16px;
            font-weight: 400;
            display: flex;
            justify-content: center;
            padding-bottom: 30px;

            .p-middle__About_letter_a {
              transform: translate(-5px, 0px) rotate(-23.46deg);
            }
            .p-middle__About_letter_b {
              transform: translate(1px, -8px) rotate(-9.41deg);
            }
            .p-middle__About_letter_o {
              transform: translate(7px, -11px) rotate(2.96deg);
            }
            .p-middle__About_letter_u {
              transform: translate(13px, -8px) rotate(15.7deg);
            }
            .p-middle__About_letter_t {
              transform: translate(18px, 0px) rotate(26.92deg);
            }
          }

          .p-middle__About_points {
            display: block;
            padding-top: 20px;
            .p-middle__About_lump {
              display: flex;
              .p-middle__About_header {
                max-width: 30px;
                margin-right: 15px;
                margin-bottom: 13px;
                &::after {
                  width: 100%;
                  height: 2px;
                  bottom: -6px;
                }

                &::before {
                  width: 100%;
                  height: 2px;
                  top: -6px;
                }
                .p-middle__About_number {
                  padding: 5px;
                }

                .p-middle__About_number {
                  padding: 0;
                  font-size: 14px;
                  position: relative;

                  &::after {
                    width: 30px;
                    bottom: 0px;
                    left: -6.5px;
                  }

                  &::before {
                    width: 30px;
                    top: 0px;
                    left: -6.5px;
                  }
                }
                .p-middle__About_title {
                  display: none;
                }
              }
              .p-middle__About_title_responsive {
                display: block;
              }
            }
          }
        }
      }

      @media (max-width: 750px) {
        .p-middle__About {
          .p-middle__About_detail {
            width: 100%;
            height: auto;
            display: block;
            padding-top: 51px;
            width: 100%;
            padding-bottom: 60px;

            .p-middle__About_image_wrapper {
              display: flex;
              justify-content: center;

              .p-middle__About_image {
                max-width: 80%;
                width: 75vw;
                height: 53vw;
                margin-right: 0;
                margin-bottom: 35px;
                border-radius: 10px;
              }
            }

            .p-middle__About_details {
              width: 100%;

              .p-middle__About_details1 {
                margin-bottom: 0;
                padding-top: 20px;
              }
            }
          }
        }
      }

      .p-middle__Blog {
        padding-top: 120px;
        padding-bottom: 150px;

        .p-middle__Blog_letter {
          color: #73450d;
          font-size: 32px;
          font-weight: 400;
          display: flex;
          justify-content: center;

          .p-middle__Blog_letter_b {
            transform: translate(-14px, 3px) rotate(-25.43deg);
          }
          .p-middle__Blog_letter_l {
            transform: translate(-5px, -7px) rotate(-8.24deg);
          }
          .p-middle__Blog_letter_o {
            transform: translate(5px, -7px) rotate(8.24deg);
          }
          .p-middle__Blog_letter_g {
            transform: translate(12px, 0px) rotate(27.22deg);
          }
        }
        .p-middle__Blog_about {
          // margin: 0 auto;
          display: flex;
          justify-content: space-between;
          padding-top: 50px;
          .p-middle__Blog_pa {
            margin: 70px auto 0 auto;
            width: 45vw;
            display: flex;
            flex-direction: column;
            .p-middle__Blog_p {
              padding: 0 0 30px 0;
            }
            .p-middle__Blog_the-most-least-one_responsive {
              display: none;
            }
          }
          .p-middle__Blog_the-most-least-one {
            margin: auto;
          }
        }
      }
      @media (max-width: 600px) {
        .p-middle__Blog {
          padding-top: 60px;
          padding-bottom: 70px;

          .p-middle__Blog_letter {
            font-size: 16px;

            .p-middle__Blog_letter_b {
              transform: translate(-14px, 0px) rotate(-25.43deg);
            }
            .p-middle__Blog_letter_l {
              transform: translate(-5px, -7px) rotate(-8.24deg);
            }
            .p-middle__Blog_letter_o {
              transform: translate(5px, -7px) rotate(8.24deg);
            }
            .p-middle__Blog_letter_g {
              transform: translate(12px, 0px) rotate(27.22deg);
            }
          }
          .p-middle__Blog_about {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 0;

            .p-middle__Blog_pa {
              margin-top: 35px;
              width: 80%;
              display: flex;
              flex-direction: column;
              align-items: center;

              .p-middle__Blog_p {
                padding-bottom: 35px;
                text-align: center;
              }
              .p-middle__Blog_the-most-least-one_responsive {
                display: block;
              }
            }
            .p-middle__Blog_the-most-least-one {
              display: none;
            }
          }
        }
      }
    } // l-containerの括弧
  } // middleの括弧
} //mainの括弧

// ----- middleここまで -----
// ----- footerここから -----
footer {
  background-color: #73450d;
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100px;
  text-align: center;
}

@media (max-width: 550px) {
  .footer__p {
    font-size: 3vw;
  }
}

// ----- footerここまで -----

// ----- blogpageここから -----
main {
  .blogpage__l-container {
    max-width: 81%;
    width: 100%;
    margin: 0 auto;

    .blogpage__letter {
      color: #73450d;
      font-size: 32px;
      font-weight: 400;
      display: flex;
      justify-content: center;
      padding-top: 7vw;
      padding-bottom: 7vw;

      .blogpage__Blog_letter_b {
        transform: translate(-14px, 3px) rotate(-25.43deg);
      }
      .blogpage__Blog_letter_l {
        transform: translate(-5px, -7px) rotate(-8.24deg);
      }
      .blogpage__Blog_letter_o {
        transform: translate(5px, -7px) rotate(8.24deg);
      }
      .blogpage__Blog_letter_g {
        transform: translate(12px, 0px) rotate(27.22deg);
      }
    }
    .blogpage__view {
      padding-top: 10vw;
      // display: flex;
      // justify-content: space-between;
      padding-bottom: 78px;



    }
    .blogpage__responsive {
      display: none;
    }
  }
}

@media (max-width: 550px) {
  main {
    .blogpage__l-container {
      max-width: 79%;
      width: 100%;
      margin: 0 auto;

      .blogpage__letter {
        color: #73450d;
        font-size: 16px;
        font-weight: 400;
        display: flex;
        justify-content: center;

        .pblogpage__Blog_letter_b {
          transform: translate(-14px, 0px) rotate(-25.43deg);
        }
        .blogpage__Blog_letter_l {
          transform: translate(-5px, -7px) rotate(-8.24deg);
        }
        .blogpage__Blog_letter_o {
          transform: translate(5px, -7px) rotate(8.24deg);
        }
        .blogpage__Blog_letter_g {
          transform: translate(12px, 0px) rotate(27.22deg);
        }
      }
      .blogpage__view {
        display: none;
      }
      .blogpage__responsive {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding-top: 15vw;
        padding-bottom: 78px;
      }
    }
  }
}
// ----- blogpageここまで -----

// ----- concertここから -----
// ----- winter_concertここから -----
.winter_concert__header {
  color: #ffffff;
  display: flex;
  height: 35vw;

  .winter_concert__header_detail {
    background-color: #55a2e1e5;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .winter_concert__header_title {
      h2 {
        font-size: 3.4vw;
        font-family: "MonteCarlo";
        text-align: center;
      }

      p {
        font-size: 0.8vw;
        text-align: center;
        padding-bottom: 9%;
      }
    }

    .winter_concert__header_detail_about {
      font-size: 1.6vw;
      max-width: 80%;
      width: 100%;
      margin: 0 auto;

      .winter_concert__header_detail_info {
        padding-bottom: 6%;
      }

      .winter_concert__header_detail_where {
        width: 27vw;
        text-align: center;
        border: 1px solid white;
        border-radius: 10px;
        margin-bottom: 3%;
      }

      .winter_concert__header_detail_date {
        width: 27vw;
        height: 28%;
        text-align: center;
        border: 1px solid white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  .winter_concert__header_image {
    width: 67vw;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.winter_concert__l-container {
  max-width: 86%;
  width: 100%;
  margin: 0 auto;
  .winter_concert__introduction {
    margin-top: 8vw;
    max-width: 100%;
    width: 100%;
    h1 {
      text-align: center;
      font-size: 40px;
      position: relative;
      transform: translateY(20px);

      &::after {
        content: "";
        display: block;
        width: 250px;
        height: 2px;
        background-color: #73450d;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .winter_concert__introduction-container {
      text-align: center;
      background-color: #ffffff;
      border-radius: 30px;
      p {
        max-width: 90%;
        width: 100%;
        margin: 0 auto;
        padding: 50px 0;
      }
    }
  }
}

@media (max-width: 550px) {
  .winter_concert__header {
    color: #ffffff;
    height: auto;
    display: flex;
    flex-direction: column;

    .winter_concert__header_detail {
      background-color: #55a2e1e5;
      width: 100%;
      height: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      order: 2;

      .winter_concert__header_title {
        h2 {
          font-size: 11vw;
          font-family: "MonteCarlo";
          text-align: center;
        }

        p {
          font-size: 3.5vw;
          text-align: center;
          padding-bottom: 9%;
        }
      }

      .winter_concert__header_detail_about {
        font-size: 1.6vw;
        max-width: 80%;
        width: 100%;
        margin: 0 auto;

        .winter_concert__header_detail_info {
          padding-bottom: 6%;
          text-align: center;
          font-size: 4vw;
        }

        .winter_concert__header_detail_where {
          width: 82vw;
          height: 14vw;
          font-size: 3.5vw;
          text-align: center;
          border: 1px solid white;
          border-radius: 10px;
          margin-bottom: 3%;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        .winter_concert__header_detail_date {
          width: 82vw;
          height: 14vw;
          font-size: 3.5vw;
          text-align: center;
          border: 1px solid white;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }

    .winter_concert__header_image {
      width: 100%;
      height: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      order: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .winter_concert__l-container {
    max-width: 86%;
    width: 100%;
    margin: 0 auto;
    .winter_concert__introduction {
      margin-top: 10vw;
      max-width: 100%;
      width: 100%;
      margin: 0 auto;
      padding-top: 12vw;
      h1 {
        text-align: center;
        font-size: 32px;
        position: relative;
        transform: translateY(20px);

        &::after {
          content: "";
          display: block;
          width: 250px;
          height: 2px;
          background-color: #73450d;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .winter_concert__introduction-container {
        text-align: center;
        background-color: #ffffff;
        padding: 0;
        margin-bottom: 80px;
        border-radius: 30px;
        p {
          max-width: 90%;
          width: 100%;
          margin: 0 auto;
        }
      }
    }
  }
}

// ----- summer_concertここから-----
.summer_concert__header {
  color: #ffffff;
  display: flex;
  height: 35vw;

  .summer_concert__header_detail_summer {
    background-color: #f2911bd9;
    width: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .summer_concert__header_title {
      h2 {
        font-size: 3.4vw;
        font-family: "MonteCarlo";
        text-align: center;
      }

      p {
        font-size: 0.8vw;
        text-align: center;
        padding-bottom: 9%;
      }
    }

    .summer_concert__header_detail_about {
      font-size: 1.6vw;
      max-width: 80%;
      width: 100%;
      margin: 0 auto;

      .summer_concert__header_detail_info {
        padding-bottom: 6%;
      }

      .summer_concert__header_detail_where {
        width: 27vw;
        text-align: center;
        border: 1px solid white;
        border-radius: 10px;
        margin-bottom: 3%;
      }

      .summer_concert__header_detail_date {
        width: 27vw;
        height: 28%;
        text-align: center;
        border: 1px solid white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
  }

  .summer_concert__header_image {
    width: 67vw;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.summer_concert__l-container {
  max-width: 86%;
  width: 100%;
  margin: 0 auto;
  .summer_concert__introduction {
    margin-top: 8vw;
    max-width: 100%;
    width: 100%;
    h1 {
      text-align: center;
      font-size: 40px;
      position: relative;
      transform: translateY(20px);

      &::after {
        content: "";
        display: block;
        width: 250px;
        height: 2px;
        background-color: #73450d;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .summer_concert__introduction-container {
      text-align: center;
      background-color: #ffffff;
      border-radius: 30px;
      p {
        max-width: 90%;
        width: 100%;
        margin: 0 auto;
        padding: 50px 0;
      }
    }
  }
}

@media (max-width: 550px) {
  .summer_concert__header {
    color: #ffffff;
    height: auto;
    display: flex;
    flex-direction: column;

    .summer_concert__header_detail_summer {
      background-color: #f2911bd9;
      width: 100%;
      height: 100vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      order: 2;

      .summer_concert__header_title {
        h2 {
          font-size: 11vw;
          font-family: "MonteCarlo";
          text-align: center;
        }

        p {
          font-size: 3.5vw;
          text-align: center;
          padding-bottom: 9%;
        }
      }

      .summer_concert__header_detail_about {
        font-size: 1.6vw;
        max-width: 80%;
        width: 100%;
        margin: 0 auto;

        .summer_concert__header_detail_info {
          padding-bottom: 6%;
          text-align: center;
          font-size: 4vw;
        }

        .summer_concert__header_detail_where {
          width: 82vw;
          height: 14vw;
          font-size: 3.5vw;
          text-align: center;
          border: 1px solid white;
          border-radius: 10px;
          margin-bottom: 3%;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }

        .summer_concert__header_detail_date {
          width: 82vw;
          height: 14vw;
          font-size: 3.5vw;
          text-align: center;
          border: 1px solid white;
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }

    .summer_concert__header_image {
      width: 100%;
      height: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      order: 1;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .summer_concert__l-container {
    max-width: 86%;
    width: 100%;
    margin: 0 auto;
    .summer_concert__introduction {
      padding-top: 10vw;
      max-width: 100%;
      width: 100%;
      margin: 0 auto;
      h1 {
        text-align: center;
        font-size: 32px;
        position: relative;
        transform: translateY(20px);

        &::after {
          content: "";
          display: block;
          width: 250px;
          height: 2px;
          background-color: #73450d;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .summer_concert__introduction-container {
        text-align: center;
        background-color: #ffffff;
        padding: 0;
        margin-bottom: 80px;
        border-radius: 30px;
        p {
          max-width: 90%;
          width: 100%;
          margin: 0 auto;
        }
      }
    }
  }
}
// ----- summer_concertここまで-----

// ----- concertここまで -----

// ----- blog_linkここから -----

// .Blog_link__lump {
//   position: relative;
//   // margin-left: 10%;
//   margin-top: 50px;
//   text-align: center;

// }

// .Blog_link__lump::after {
//   margin: 0 auto;
//   content: "";
//   position: absolute;
//   bottom: -3px;
//   // left: 25px;
//   right: 41%;
//   width: 200px;
//   height: 2px;
//   background-color: #f2911b;
// }

// .Blog_link__lump::before {
//   content: "";
//   position: absolute;
//   top: 5px;
//   // bottom: 45px;
//   left: 41%;
//   width: 200px;
//   height: 2px;
//   background-color: #f2911b;
// }
.Blog_link__lump {
  position: relative;
  margin-left: 20%;
  margin-top: 50px;
}

.Blog_link__lump::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 25px;
  width: 180px;
  height: 1.4px;
  background-color: #f2911b;
}

.Blog_link__lump::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -15px;
  width: 180px;
  height: 1.2px;
  background-color: #f2911b;
}

.Blog__link {
  font-size: 32px;
  position: relative;
  // text-align: center;
  // margin: 0 auto;
}

// .Blog__link::after {
//   content: "";
//   display: block;
//   width: 2px;
//   height: 45px;
//   position: absolute;
//   top: 14px;
//   right: -5px;
//   background-color: #f2911b;
// }

// .Blog__link::before {
//   content: "";
//   display: inline-block;
//   width: 2px;
//   height: 45px;
//   position: absolute;
//   top: -5px;
//   left: -8px;
//   background-color: #f2911b;
// }
.Blog__link::after {
  content: "";
  display: block;
  width: 1.2px;
  height: 45px;
  position: absolute;
  top: 14px;
  right: -5px;
  background-color: #f2911b;
}

.Blog__link::before {
  content: "";
  display: inline-block;
  width: 1.2px;
  height: 45px;
  position: absolute;
  top: -5px;
  left: -8px;
  background-color: #f2911b;
}

@media (max-width: 600px) {
  .Blog_link__lump {
    position: relative;
    padding: 0;
    margin-left: 0;
  }

  .Blog_link__lump::after {
    content: "";
    position: absolute;
    bottom: -0.5vw;
    left: 8vw;
    width: 80%;
    height: 1px;
    background-color: #f2911b;
  }

  .Blog_link__lump::before {
    content: "";
    position: absolute;
    top: 0;
    left: -2vw;
    width: 80%;
    height: 1px;
    background-color: #f2911b;
  }

  .Blog__link {
    font-size: 5vw;
    position: relative;
    padding: 0;
  }

  .Blog__link::after {
    content: "";
    display: block;
    width: 1px;
    height: 80%;
    position: absolute;
    top: 3vw;
    right: -1vw;
    background-color: #f2911b;
  }

  .Blog__link::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 80%;
    position: absolute;
    top: -1vw;
    left: -1vw;
    background-color: #f2911b;
  }
}
// ----- blog_linkここまで -----

// ----- blogここから -----

.blog {
  margin-top: 30px;
  display: inline-block;
  position: relative;
  padding: 0% 0% 0 0%;
  border: 3px solid #73450d;
  background-color: white;
  border-radius: 1%;

  img {
    max-width: 100%;
    height: auto;
  }
  a{
    position: absolute;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;

    // background-color: white;
  }
  .blog__title {
    padding: 15px 0 0px 2%;
    font-size: 25px;
  }
  .blog__date {
    padding: 5px 0 25px 3%;
  }
}
// ----- blogここまで -----

// ----- Carouselここから -----
.Carousel {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 500px;
  position: relative;
  margin: 0;
  padding: 0;
  gap: 30px;
  img {
    height: 500px;
    width: 700px;
    object-fit: cover;
    flex-shrink: 0;
    animation: bg-slider 100s linear infinite;
    border-radius: 10px;
  }
}

@keyframes bg-slider {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-4380px);
  }
}

@media (max-width: 800px) {
  .Carousel {
    height: 350px;
    gap: 30px;
    margin: 0;

    img {
      height: 350px;
      width: 420px;
    }
  }

  @keyframes bg-slider {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-2700px);
    }
  }
}

@media (max-width: 500px) {
  .Carousel {
    height: 250px;
    gap: 30px;

    img {
      height: 250px;
      width: 300px;
    }
  }

  @keyframes bg-slider {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-1980px);
    }
  }
}
// ----- Carouselここまで -----

// ----- Eventここから -----
.Event {
  height: 300px;
  width: 85%;
  background-color: rgba(242, 145, 27, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 12px;
  left: 100px;

  h3 {
    font-size: 40px;
  }
}

@media (max-width: 550px) {
  .Event {
    height: 300px;
    width: 65%;
    background-color: rgba(242, 145, 27, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 12px;
    left: 70px;

    h3 {
      font-size: 25px;
    }
  }
}
// ----- Eventここまで -----

// ----- EventDataここから -----
.EventData__left-circle::after {
  position: relative;
}
.EventData__left-circle::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: #73450d;
  border-radius: 50%;
}
.EventData__left-circle::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 8px;
  height: 8px;
  background-color: #73450d;
  border-radius: 50%;
}
.EventData__right-circle::after {
  position: relative;
}
.EventData__right-circle::before {
  position: relative;
}

.EventData__right-circle::after {
  content: "";
  position: absolute;
  bottom: -4px;
  right: 0;
  width: 8px;
  height: 8px;
  background-color: #73450d;
  border-radius: 50%;
}
.EventData__right-circle::before {
  content: "";
  position: absolute;
  top: -4px;
  right: 0;
  width: 8px;
  height: 8px;
  background-color: #73450d;
  border-radius: 50%;
}

.EventData {
  position: relative;
  display: flex;
  padding: 50px 5% 50px 5%;
}

.EventData::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #73450d;
  position: absolute;
  top: 0;
  left: 0;
}

.EventData::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #73450d;
  position: absolute;
  bottom: 0;
  left: 0;
}

.EventData__title-responsive {
  display: none;
}

.EventData__picture {
  object-fit: contain;
}
.EventData__data {
  max-width: 63%;
  padding: 20px 0 10px 10%;
}
.EventData__date {
  display: flex;
  position: relative;
  left: -13px;
  padding-bottom: 19px;
  padding-top: 7px;
}

.EventData__title {
  font-size: 20px;
  font-weight: 400;
  color: #73450d;
}
.EventData__date2 {
  font-size: 35px;
}
.EventData__year {
  font-size: 14px;
  position: relative;
  left: -10px;
  top: 2px;
  transform: rotate(90deg);
}

.EventData__day-of-the-week {
  font-size: 15px;
  padding-top: 5px;
}
.EventData__time {
  font-size: 15px;
}
@media (max-width: 550px) {
  .EventData {
    display: block;
    padding-top: 30px;
  }
  .EventData__title-responsive {
    display: block;
    font-size: 18px;
    font-weight: 400;
    color: #73450d;
    text-align: center;
    padding-bottom: 25px;
  }
  .EventData__picture {
    margin: 0 auto;
  }
  .EventData__data {
    max-width: 100%;
    padding: 20px 0 0 0;
  }
  .EventData__title {
    display: none;
  }
}

// ----- EventDataここまで -----

// ----- Gallaryここから -----
.gallary {
  max-width: 86%;
  width: 100%;
  margin: 0 auto;

  h1 {
    font-size: 40px;
    text-align: center;
    padding: 5vw 0;
  }

  .gallary__layer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;

    .gallary__image-container {
      position: relative;

      &.small {
        width: 26vw;
        aspect-ratio: 16 / 7;
      }

      &.big {
        width: 57vw;
        aspect-ratio: 16 / 7;
      }
    }

    .gallary__content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.gallary__responshive {
  display: none;
}

@media (min-width: 1440px) {
  .gallary__layer {
    height: 400px;

    .gallary__image-container {
      padding-top: 0;

      &.small {
        width: 350px;
        height: 100%;
      }

      &.big {
        width: 800px;
      }
    }
  }
}

@media (max-width: 550px) {
  .gallary {
    max-width: 86%;
    width: 100%;
    margin: 0 auto;

    h1 {
      font-size: 32px;
      text-align: center;
      padding: 80px 0 30px 0;
    }

    .gallary__layer {
      display: none;
    }
  }
  .gallary__responshive {
    display: block;
    max-width: 86%;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
    .first_layer {
      width: 100%;
    }
    .gallary__first_layer {
      max-width: 100%;
      width: 100%;
      padding-bottom: 20px;
      .gallary__content {
        width: 100%;
        height: 40vw;
      }
    }
    .gallary__second_layer {
      display: flex;
      justify-content: space-between;
      padding-bottom: 20px;
      img {
        width: 41vw;
        height: 41vw;
        object-fit: cover;
      }
    }

    .gallary__third_layer img {
      width: 100%;
      height: 40vw;
      object-fit: cover;
    }
  }
}
// ----- Gallaryここまで -----

// ----- NewsDataここから -----
.NewsData__box {
  padding-top: 35px;
  position: relative;
  .NewsData__News-box {
    height: 120px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 4px 4px 0px 0 rgb(115, 69, 13);
    p {
      font-size: 16px;
      font-weight: 400;
      margin-left: 30px;
      padding-top: 20px;
    }
    a{
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: absolute;
    }
    .NewsData__date {
      color: #0000ff;
    }
  }
}
@media (max-width: 550px) {
  .NewsData__box {
    padding-top: 15px;
    .NewsData__News-box {
      height: 60px;
      background-color: #ffffff;
      border-radius: 10px;
      box-shadow: 2px 2px 0px 0 rgb(115, 69, 13);
      p {
        font-size: 16px;
        font-weight: 400;
        margin-left: 20px;
        padding-top: 0;
      }
      .NewsData__date {
        color: #0000ff;
        padding-top: 6px;
      }
      .NewsData__title {
        color: #000;
      }
    }
  }
}
// ----- NewsDataここまで -----

// ----- ShowMoreここから -----
.showMore {
  --mask-height: 0px;
  --transition-easing: cubic-bezier(0.075, 0.82, 0.165, 1);
  --transition-duration: 0.5s;
  display: flex;
  flex-direction: column;
}

.showMore__btn {
  position: relative;
  display: block;
  order: 2;
  width: 70px;
  height: 50px;
  font-size: 32px;
  cursor: pointer;
  background-color: transparent;
  border-radius: 25px;
  left: calc((100% - 70px)/2);
  margin-bottom: 44px;

  &::before {
    content: "More";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .showMore__top_and_bottom {
    position: relative;
    margin-left: 47%;

    &::after {
      content: "";
      position: absolute;
      bottom: -3px;
      left: -21px;
      width: 80px;
      height: 1.4px;
      background-color: #f2911b;
      transform: translateY(48px);
    }

    &::before {
      content: "";
      position: absolute;
      top: 5px;
      left: -55px;
      width: 80px;
      height: 1.2px;
      background-color: #f2911b;
    }
    .showMore__left_and_right {
      position: relative;

      &::after {
        content: "";
        display: block;
        width: 2px;
        height: 45px;
        position: absolute;
        top: 13px;
        left: 50px;
        background-color: #f2911b;
      }

      &::before {
        content: "";
        display: inline-block;
        width: 2px;
        height: 45px;
        position: absolute;
        top: -2px;
        left: -47px;
        background-color: #f2911b;
      }
    }
  }
}

.showMore__trigger {
  display: none;

  &:checked {
    + .showMore__btn {
      &::before {
        content: "Close";
      }
    }
  }
}

.showMore__contentWrapper {
  position: relative;
  order: 1;
  max-height: var(--mask-height);
  overflow-y: hidden;
  overflow-x: auto;
  transition: max-height var(--transition-duration) var(--transition-easing);

  &::before {
    display: none;
  }

  .showMore__content {
    padding-top: 42px;
    display: flex;
    padding-bottom: 78px;
    .showMore__left_side {
      margin-right: 9vw;
    }
    .showMore__content_responsive {
      display: none;
    }
  }
}

.showMore__trigger {
  display: none;

  &:checked {
    + .showMore__btn {
      &::after {
        display: none;
      }
    }

    ~ .showMore__contentWrapper {
      &::before {
        display: none;
      }
    }
  }
}
@media (max-width: 550px) {
  .showMore__btn {
    position: relative;
    display: block;
    order: 2;
    width: 70px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
    background-color: transparent;
    border-radius: 25px;
    margin-bottom: 44px;

    &::before {
      content: "More";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .showMore__top_and_bottom {
      position: relative;
      margin-left: 44%;

      &::after {
        content: "";
        position: absolute;
        bottom: -3px;
        left: -21px;
        width: 80px;
        height: 1.4px;
        background-color: #f2911b;
        transform: translateY(48px);
      }

      &::before {
        content: "";
        position: absolute;
        top: 5px;
        left: -55px;
        width: 80px;
        height: 1.2px;
        background-color: #f2911b;
      }
    }
  }
}
@media (max-width: 550px) {
  .showMore__contentWrapper {
    position: relative;
    order: 1;
    max-height: var(--mask-height);
    overflow-y: hidden;
    overflow-x: auto;
    transition: max-height var(--transition-duration) var(--transition-easing);

    &::before {
      display: none;
    }

    .showMore__content {
      padding-top: 42px;
      display: flex;
      padding-bottom: 78px;
      .showMore__left_side {
        display: none;
      }
      .showMore__right_side {
        display: none;
      }
      .showMore__content_responsive {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
      }
    }
  }
}
// ----- ShowMoreここまで -----

// ----- Timetableここから -----
.timetable {
  margin-top: 8vw;
  h1 {
    font-size: 40px;
    text-align: center;
    position: relative;
    transform: translateY(20px);

    &::after {
      content: "";
      display: block;
      width: 250px;
      height: 2px;
      background-color: #73450d;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .timetable__lump {
    background-color: #fff;
    border-radius: 25px;

    h2 {
      font-size: 36px;
      color: #e51818;
      text-align: center;
      padding: 50px 0;
    }
    .timetable__time {
      position: relative;
      margin: 0 58px;

      .timetable__t {
        padding-bottom: 127px;
        position: relative;

        &::after {
          content: "";
          display: block;
          width: 85%;
          height: 2px;
          background-color: #73450d;
          position: absolute;
          top: 12px;
          left: 100px;
        }
        &::before {
          content: "";
          display: inline-block;
          width: 85%;
          height: 1px;
          background-color: #73450d;
          position: absolute;
          bottom: 63px;
          left: 100px;
        }
      }
      .timetable__t1 {
        padding-bottom: 160px;
        position: relative;

        &::after {
          content: "";
          display: block;
          width: 85%;
          height: 2px;
          background-color: #73450d;
          position: absolute;
          top: 12px;
          left: 100px;
        }
      }
    }
  }
}
@media (max-width: 550px) {
  .timetable {
    h1 {
      font-size: 32px;
      text-align: center;
      position: relative;
      transform: translateY(20px);

      &::after {
        content: "";
        display: block;
        width: 250px;
        height: 2px;
        background-color: #73450d;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .timetable__lump {
      background-color: #fff;
      border-radius: 25px;

      h2 {
        font-size: 24px;
        color: #e51818;
        text-align: center;
        padding: 50px 0;
      }
      .timetable__time {
        position: relative;
        margin: 0 0 0 10vw;

        .timetable__t {
          padding-bottom: 127px;
          position: relative;

          &::after {
            content: "";
            display: block;
            width: 65%;
            height: 2px;
            background-color: #73450d;
            position: absolute;
            top: 12px;
            left: 70px;
          }
          &::before {
            content: "";
            display: inline-block;
            width: 65%;
            height: 1px;
            background-color: #73450d;
            position: absolute;
            bottom: 63px;
            left: 70px;
          }
        }
        .timetable__t1 {
          padding-bottom: 160px;
          position: relative;

          &::after {
            content: "";
            display: block;
            width: 60%;
            height: 2px;
            background-color: #73450d;
            position: absolute;
            top: 12px;
            left: 70px;
          }
        }
      }
    }
  }
}
// ----- Timetableここまで -----
