@charset "UTF-8";

@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
}

//  --------------------------------- headerここから ---------------------------------
header {
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  height: 100px;

  .navigation {
    display: flex;
    width: 72vw;

    .navbar {
      margin-left: auto;
      margin-right: 65px;

      a {
        font-size: 20px;
        text-decoration: none;
        color: #73450d;
      }

      li {
        padding: 0.5rem 1rem;
      }
    }
    .sns {
      width: 160px;
      justify-content: space-between;
    }

    ul {
      display: flex;
      margin: auto 0;
    }
  }
}
//  --------------------------------- headerここまで ---------------------------------

//  --------------------------------- topここから ---------------------------------
main {
  background-color: #f2f2f2;
  .top {
    // 画像に対して文字の位置を固定したい。画面の大きさを変えると文字が動いてしまうから。
    .top-logos {
      position: relative;
      display: flex;
      justify-content: center;
      h1 {
        position: absolute;
        top: 118px;
        left: 119px;
        font-size: 36px;
        font-weight: 400;
        color: #73450d;
      }
      h2 {
        position: absolute;
        top: 465px;
        left: 938px;
        font-size: 36px;
        font-weight: 400;
        color: #73450d;
      }
    }
  }
}
//  --------------------------------- topここまで ---------------------------------

//  --------------------------------- middleここから ---------------------------------
.middle{
  .middle-l-container{
    max-width: 86%;
    width: 100%;
    margin: 0 auto;
    
    .middle-News {
      padding-top: 131px;
    }

        .middle-News_letter {
          color: #73450d;
          font-size: 32px;
          font-weight: 400;
          display: flex;
          justify-content: center;

          &.middle-News_letter_n {
          }
          &.middle-News_letter_e {
          }
          &.middle-News_letter_w {
          }
          &.middle-News_letter_s {
          }
        }

        .middle-News_box {
          display: flex;
          justify-content: space-between;
        }
        .middle-Schedule {
          padding-top: 203px;

        .middle-Schedule_letter{
          color: #73450d;
          font-size: 32px;
          font-weight: 400;
          display: flex;
          justify-content: center;
        }
      }

      .middle-About {
        .middle-Schedule_letter {
          color: #73450d;
          font-size: 32px;
          font-weight: 400;
          display: flex;
          justify-content: center;
          .middle-About_letter_a {
          }
          .middle-About_letter_b {
          }
          .middle-About_letter_o {
          }
          .middle-About_letter_u {
          }
          .middle-About_letter_t {
          }
        }
        .middle-About_points {
          .middle-About_header {
          }
          .middle-About_explanation {
          }
        }
      }
      
    } // l-containerの括弧
  } // middleの括弧
    
//  --------------------------------- middleここまで ---------------------------------